.fashionAdvice{
    margin: 0 auto 20px;
    max-width: 1170px;
    width: 100%;

    &__header{
        background: get-color(greys, very-light);
        display: flex;
        text-align: center;

        @include mq-start-from(mobile){
            background-image: url(https://navabi.imgix.net/img/filterset/modeberatung/ample_bust-d.jpg?w=2560);
            background-position: right;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .fashionAdvice__content{
            @include mq-start-from(mobile){
                width: 70%;
            }
        }
    }

    &__content{
        color: get-color(dark);
        padding: $gap;
        text-align: center;
        width: 100%;

        &.flexBox{
            display: flex;
            flex-direction: column;
            padding: 0;
            @include mq-start-from(mobile){
                background: $white-smoke;
                box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
                flex-direction: row;
                width: 100%;
            }

            h3{
                @include mq-start-from(mobile){
                    @include font-weight(bold);
                    border-bottom: 0;
                    font-size: get-font-size(default, desktop);
                    min-width: 200px;
                    text-transform: none;
                }
            }
        }

        &.textLeft{
            text-align: left;
        }

        &.blueBg{
            background: get-color(greys, very-light);
        }

        &.boxShadow{
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
            margin: 0 0 $gap;
        }

        &--title{
            font-size: get-font-size(bigger, desktop);
            padding: $gap 0;
            @include font-weight(bold);
            text-transform: uppercase;

            &.blue{
                color: get-color(blues, base);
            }
        }

        &--subtitle{
            font-size: get-font-size(default, desktop);
            text-transform: uppercase;
            @include font-weight(bold);
        }

        &--minititle{
            border-bottom: 1px solid get-color(dark);
            font-size: get-font-size(default, desktop);
            padding: 10px;
            @include font-weight(bold);
            text-transform: uppercase;
        }

        &--list{
            position: relative;
            @include mq-start-from(mobile){
                overflow-x: auto;
                overflow-y: hidden;
            }

            ul{
                -webkit-overflow-scrolling: touch;
                background: $white-smoke;
                box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
                list-style: none;
                margin: 0;
                overflow-x: auto;
                overflow-y: hidden;
                padding: 10px;
                text-align: center;
                white-space: nowrap;
                @include mq-start-from(mobile){
                    box-shadow: none;
                }
            }

            li{
                display: inline-block;
                font-size: get-font-size(default, desktop);
                list-style-type: none;
                margin: 0 5px;
                padding: 0;
                position: relative;
                vertical-align: top;

                &.active{
                    text-decoration: underline;
                    a{
                        @include font-weight(bold);
                    }
                }
                a{
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            &:before{
                left: 0;
            }
            &:after{
                right: 0;
                transform: scaleX(-1);
            }
            &:before, &:after{
                display: block;
                height: 100%;
                width: 12px;
                content: "";
                position: absolute;
                top: 0;
                z-index: 100;
                pointer-events: none;
                background-image: linear-gradient(90deg,#ddd,hsla(0,0%,100%,0));
                @include mq-start-from(mobile){
                    background-image: none;
                }
            }
        }

        &--listBullets{
            li{
                list-style: inside;
                list-style-type: disc;
            }
        }

        &--sizes{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 5px 0;
            width: auto;

            li{
                background: get-color(light);
                border: 1px solid get-color(greys);
                font-size: get-font-size(default, desktop);
                @include font-weight(bold);
                height: 35px;
                line-height: 35px;
                margin: 5px 0;
                position: relative;
                text-align: left;
                text-indent: 40px;
                width: 45%;

                &::before{
                    background-size: cover;
                    content: '';
                    height: 15px;
                    left: 10px;
                    position: absolute;
                    top: 10px;
                    width: 15px;
                }

                &.type-h::before{
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-h.png');
                }

                &.type-a::before{
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-a.png');
                }

                &.type-v::before{
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-v.png');
                }

                &.type-x::before{
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-x.png');
                }

                &.type-o::before{
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-o.png');
                }
            }
        }

        @include mq-start-from(mobile){
            &.order0{
                order: 0;
            }
            &.order1{
                order: 1;
            }
            &.order2{
                order: 2;
            }
        }
       
        p{
            margin: 0;
            @include mq-start-from(mobile){
                display: block;
                margin: 0 auto;
                max-width: 70%;
            }
        }
    }

}