.figurTypes{
    margin: 0 auto 20px;
    max-width: 1170px;
    width: 100%;

    &__wrapper{
        background: get-color(greys, very-light);
        display: flex;
        flex-wrap: wrap;
        @include mq-start-from(mobile){
            padding: 20px 60px;
        }
    }

    &__content{
        color: get-color(dark);
        padding: $gap;
        text-align: left;
        width: 100%;

        .underline{
            text-decoration: underline;
        }

        &--title{
            font-size: get-font-size(bigger, desktop);
            padding: $gap 0;
            @include font-weight(bold);
            text-transform: uppercase;

            &.blue{
                color: get-color(blues, base);
            }
            @include mq-start-from(mobile){
                font-size: get-font-size(giga, desktop);
                min-width: 35%;
            }

            @include mq-start-from(tablet){
                min-width: 25%;
            }
        }

        &--listBullets{
            li{
                list-style: inside;
                list-style-type: disc;
            }
        }

        &--sizes{
            width: auto;
            margin: 5px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            li{
                background: get-color(light);
                border: 1px solid get-color(greys);
                margin: 5px 0;
                height: 35px;
                line-height: 35px;
                text-align: left;
                text-indent: 40px;
                width: 45%;
                font-weight: bold;
                font-size: 16px;
                position: relative;

                @include mq-start-from(mobile){
                    width: 70%;
                    text-align: center;
                    text-indent: 0;
                }

                &::before{
                    content: '';
                    height: 15px;
                    width: 15px;
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    background-size: cover;
                }

                &.type-h::before{
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-h.png');
                }

                &.type-a::before{
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-a.png');
                }

                &.type-v::before{
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-v.png');
                }

                &.type-x::before{
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-x.png');
                }

                &.type-o::before{
                    background-image: url('https://www.navabi.de/img/index/2018/body-shape-o.png');
                }
            }
        }

        @include mq-start-from(mobile){
            &.order0{
                align-items: center;
                display: flex;
                flex: 1 100%;
                order: 0;

                p{
                    @include font-weight(bold);
                }
            }

            &.order1{
                order: 1;
                flex: 1 35%;
            }

            &.order2{
                display: flex;
                flex: 1 65%;
                order: 2;
            }
        }
        @include mq-start-from(tablet){
            &.order1{
                flex: 1 25%;
            }

            &.order2{
                flex: 1 75%;
            }
        }

        p{
            margin: 0;
            @include mq-start-from(mobile){
                display: block;
            }
        }

        figure{
            display: none;
            @include mq-start-from(tablet){
                background: get-color(light);
                border: 1px solid get-color(dark);
                display: block;
                margin: 0 30px 0 0;
                max-height: 225px;
                min-width: 150px;
                position: relative;
                width: auto;
            }

            figcaption{
                color: get-color(light);
                position: absolute;
                top: 0;
                z-index: 0;
            }

            img{
                display: block;
                height: 100%;
                margin: 0 auto;
                position: relative;
                z-index: 1;
            }
        }
    }

}