.howTo{
    background: get-color(greys, light);
    margin: 10px auto;
    max-width: 1170px;
    padding: $gap * 2;
    width: 100%;
    @include mq-start-from(mobile){
        background: url('/img/filterset/07_Modeberatung/2016/fashionadvice/01/fashion-advice-bg-02b.jpg') top right no-repeat;
        background-size: cover;
    }

    h1{
        font-size: get-font-size(bigger, desktop);
        @include font-weight(bold);
        margin-bottom: $gap;
    }

    &--links{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 600px;
        padding: $gap 0;
        width: 100%;
        @include mq-start-from(tablet){
            margin-left: 150px;
        }

        a{
            margin: 0 0 10px;
            width: 100%;
            @include mq-start-from(mobile){
                width: 50%;
            }
        }
    }
}